 body{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color:  #f1f5f9;
            font-family: Arial, sans-serif;

        }

        canvas{
            background-color: white;
            border: 2px solid #1e293b;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

        }